<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<globalization uiCulture="pt-PT" culture="pt-PT" />
	</system.web>
	<connectionStrings>
		<add name="DatabaseConnectionString" connectionString="Data Source=LAPTOP-RNLSR4US\SQLEXPRESS;Initial Catalog=biblioDatabase;Trusted_Connection=SSPI;Encrypt=false;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>